@model LanguageMakerWebProject.Models.ClassificationModel

@{
    ViewBag.Title = "Classifications";
}

<h2>Classifications</h2>

@if (Session["Alert Classifications M1"] != null)
{
    <div class="alert-dismissable" role="alert">@Session["Alert Classifications M1"]</div>
}

@{
    List<LanguageMakerWebProject.Models.ClassificationModel> classifications = (List<LanguageMakerWebProject.Models.ClassificationModel>)Session["Classifications"];
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
        </tr>

        @foreach (var classification in classifications)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => classification.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => classification.Description)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditClassification", "Language")
                </td>
                <td>
                    @Html.ActionLink("Remove", "RemoveLetterType", new { classification.Id })
                </td>
            </tr>
        }
    </table>

    <div class="form-horizontal">
        <h4>ClassificationModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                @if (Session["Alert Classifications M2"] != null)
                {
                    <div class="alert-dismissable" role="alert">@Session["Alert Classifications M2"]</div>
                }
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add Classification" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Continue Setup", "Index", "Language")
</div>
